section.articles {
    header {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       wrap;
        justify-content: flex-start;
        align-items:     baseline;

        h2 {
            margin-top:    0;
            margin-right:  0.25em;
            margin-bottom: 0;
        }

        a {
            font-size: 85%;
        }
    }

    ol {
        padding-left:    1em;
        list-style-type: none;

        span.date {
            font-weight: bold;
        }

        li {
            background-color: #eeeeee;
            border-radius: 0.5em;

            margin: 1em;
            padding: 0.5em;

            h3 {
                margin: 0;
            }

            .last-updated {
                margin-left: 1em;
                font-size: 80%;
            }

            p {
                font-style: italic;
            }

            a {
                display: block;

                width: max-content;

                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
