// Text colors
$color-normal: #333333;
$color-strong: #222222;
$color-titles: #111111;
$color-links:  #0880e8;

// Color scheme colors
$color-primary:     #7402ff;
$color-complement1: #0fff02;
$color-complement2: #fff202;

// Widths
$content-width: 42em;
$indentation:   2em;
