@import "globals";

header.site-header {
    max-width: $content-width;
    margin   : 0 auto;

    border-bottom-style: solid;
    border-bottom-width: 2px;

    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: space-between;
    align-items:     baseline;

    a.title {
        text-decoration: none;

        h1 {
            margin-bottom: 0em;
            font-size :    250%;
        }

        h2 {
            margin-top: 0em;
            font-size : 100%;
        }
    }

    .contact-short {
        font-size: 80%;

        p {
            margin: 0em;
        }
    }
}
