@import "globals";


body {
    font-family     : Helvetica;
    color:            $color-normal;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-titles;
}

strong {
    color: $color-strong;
}

a {
    font-weight: bold;
    color:       $color-links;
}

a.title-anchor {
    color:           $color-titles;
    text-decoration: none;
}

hr {
    width : 65%;
    margin: 5em auto;
    border: 1px solid;
}

body > header {
    max-width: $content-width;
    margin   : 0 auto 3em;

    border-bottom-style: solid;
    border-bottom-width: 2px;

    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: space-between;
    align-items:     baseline;

    a.title {
        text-decoration: none;

        h1 {
            margin-bottom: 0em;
            font-size :    250%;
        }

        h2 {
            margin-top: 0em;
            font-size : 100%;
        }
    }

    .contact-short {
        font-size: 80%;

        p {
            margin: 0em;
        }
    }
}

// For styling alt text
img {
    color:     #666666;
    font-size: 80%;
}

main {
    max-width: $content-width;
    margin   : 0 auto;

    .highlight {
        background-color: $color-complement2;
    }

    h1.highlight, h2.highlight, h3.highlight {
        display: inline-block;
        margin:  0;
        padding: 0.2em 0.4em 0.0em 0.4em;
    }

    .testimonial {
        color:  $color-strong;
        margin: 2em;

        blockquote {
            background-color: #f0f0f0;
            color:            $color-titles;

            border-radius: 1em;

            margin:  0;
            padding: 0.1em 1em;
        }

        .testimonial-author {
            padding: 0.1em 1em;
        }
    }

    .call-to-action {
        text-align: center;

        .link {
            display: inline-block;
            padding: 0.8em;
            margin:  1em 0.3em;

            font-size:     120%;
            border-radius: 0.3em;
        }

        .contact-me {
            background-color: $color-primary;

            a {
                color: white;
            }
        }

        p {
            margin-top:  0;
            font-weight: bold;
            color:       $color-strong;
        }
    }

    $left-margin: 2em;

    section {
        margin-top: 3em;
    }

    section.regular > div {
        margin-left: $left-margin;

        div.title {
            h3 {
                margin-bottom: 0;
            }
            p {
                padding: 0;
                margin:  0;

                font-size:   80%;
                font-weight: normal;
            }
        }

        p {
            margin-left: $left-margin;
        }
    }
}

.made-in-odenwald {
    text-align: center;
    margin:     3em auto;

    a {
        color: #000000;
    }
}

body > footer table {
    margin   : 0 auto;
    font-size: 90%;

    * {
        vertical-align: text-top;
    }

    th {
        text-align: right;
        padding   : 1em;
    }

    td p {
        margin: 0;
    }
}

a.image-preview {
    // Center link/image
    display: block;
    margin:  0 auto;

    // Center text under image
    text-align: center;

    p {
        font-size:  80%;
        margin-top: 0;
    }
}
