{% macro email_address(text) %}
<a href="mailto:Hanno%20Braun%20%3Channo@braun-embedded.com%3E">{{ text }}</a>
{% endmacro email %}

{% macro navigation() %}
<nav>
    <ul>
        <li>
            <a href="/" target="_self">Home</a>
        </li>
        <li>
            <a href="/dw1000" target="_self">
                DW1000 Driver in Rust
            </a>
        </li>
        <li>
            <a href="/tlera-corp-gnat" target="_self">
                Tlera Corp Gnat
            </a>
        </li>
    </ul>
</nav>
{% endmacro navigation %}
