<form
    class="newsletter"
    method="POST"
    action="https://d1e704b6.sibforms.com/serve/MUIEADg3cxPy6Fto9vC036t06o4IGsz6CybwMScqc74mI_i76-jbK4RppKJQ19HiPK7kV2Yu95nVUOYJv6qKBiUnHehLIOpZgMldjwKWikzSYMXdfjez3srViW_c4bFvEfx3OHApxlmy0CRR0BI3MQBcmRdaSDEqx1Ku71OAL06pR8uGq1E_sR4Td5rJ0hM6vb4vP77mGNLxBNHO">

    <h3>Braun Embedded Newsletter</h3>
    <p>
        Want to hear more about Embedded Rust? Sign up to the newsletter and get new articles right to your inbox.
    </p>
    <input
        type="email"
        name="EMAIL"
        required
        placeholder="your@email.com" />
    <input
        type="submit"
        value="Sign up" />
</form>
