{% import "include/macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% if page and page.content != "" %}
            <title>{{page.title}} - Braun Embedded</title>
        {% else %}
            <title>Braun Embedded</title>
        {% endif %}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/base.css" rel="stylesheet" type="text/css" media="all" />
        {% block css %}{% endblock css %}

        <base target="_blank" />
    </head>

    <body>
        <header>
            <a class="title" href="/" target="_self">
                <h1>Braun Embedded</h1>
                <h2>Software Development and Consulting Services</h2>
            </a>

            <div class="contact-short">
                <p>Hanno Braun</p>
                <p>Michelstadt, Germany</p>
                <p>
                    {{ macros::email_address(text="hanno@braun-embedded.com") }}
                </p>
            </div>
        </header>

        <div id="main-and-nav">
            <main>
                {% block content %}{% endblock content %}
            </main>

            <nav>
                <ul>
                    <li>
                        <a href="/" target="_self">Home</a>
                    </li>
                    <li>
                        <a href="/dw1000" target="_self">
                            DW1000 Driver in Rust
                        </a>
                    </li>
                    <li>
                        <a href="/tlera-corp-gnat" target="_self">
                            Tlera Corp Gnat
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <hr />

        <footer>
            <table>
                <tr>
                    <th>Postal Address</th>
                    <td>
                        <p>Hanno Braun</p>
                        <p>Untere Pfarrgasse 19</p>
                        <p>64720 Michelstadt</p>
                        <p>Germany</p>
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        {{ macros::email_address(text="hanno@braun-embedded.com") }}
                    </td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>+49 6061 9797508</td>
                </tr>
            </table>

            <div class="made-in-odenwald">
                <a href="/made-in-odenwald/1.jpg" target="_blank">
                    Made in Odenwald ♥
                </a>
            </div>
        </footer>
    </body>
</html>
