{% import "include/macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% if page and page.content != "" %}
            <title>{{page.title}} - Braun Embedded</title>
        {% else %}
            <title>Braun Embedded</title>
        {% endif %}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
    </head>

    <body>
        <header class="site-header">
            <a class="title" href="/">
                <h1>Braun Embedded</h1>
                <h2>Software Development and Consulting Services</h2>
            </a>

            <div class="contact-short">
                <p>Hanno Braun</p>
                <p>Michelstadt, Germany</p>
                <p>
                    {{ macros::email(text="hanno@braun-embedded.com") }}
                </p>
            </div>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/articles">Articles</a>
                </li>
                <li>
                    <a href="/glossary">Glossary</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>

        <main>
            {% block content %}{% endblock content %}
        </main>

        <footer>
            <div class="made-in-odenwald">
                <a href="/made-in-odenwald/1.jpg" target="_blank">
                    Made in Odenwald ♥
                </a>
            </div>
        </footer>
    </body>
</html>
