{% extends "extend/base.html" %}

{% block content %}
    <section class="articles">
        <header>
            <h2>Articles</h2>
            <a href="/atom.xml">(feed)</a>
        </header>

        <ol>
            {% for page in section.pages -%}
                <li>
                    <span class="date">{{ page.date }}</span> -
                    <a href="{{ page.path }}">{{ page.title }}</a>
                </li>
            {%- endfor %}
        </ol>
    </section>
{% endblock content %}
