{% import "include/macros.html" as macros %}

{% extends "extend/base.html" %}

{% block content %}
    <section class="articles">
        <header>
            <h2>Articles</h2>
            {{ macros::feed(text="(feed)") }}
        </header>

        <ol>
            {% for page in section.pages -%}
                <li>
                    <h3>{{ page.title }}</h3>
                    <span class="last-updated">
                        Last updated:
                        <time datetime="{{page.date}}">
                            {{page.date}}
                        </time>
                    </span>
                    <p>{{ page.extra.subtitle }}</p>
                    <a href="{{ page.path }}">Go to article...</a>
                </li>
            {%- endfor %}
        </ol>
    </section>
{% endblock content %}
